.modal {
  animation-name: flyingAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes flyingAnimation {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}
